h1 {
    color: pink;
}

a { 
    cursor: pointer;
}

button { 
    cursor: pointer;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 0;
}

img { 
    height: 100%;
    width: 100%;
}

body {
    background: #1a1822;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-epta {
    max-height: 80px;
    width: auto;
}


.socials img {
    max-height: 30px;
    max-width: 30px;
    margin: 10px 0;
}

.socials {
    display: flex;
    flex-direction: column;
    margin: -10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
}

.menu { 
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo-big {
    width: 45vw;
    height: auto;
}

.main-logo {
    display: flex;
    top: 35vh;
    position: absolute;
    padding: 30px;
}

.main-logo span { 
    position: absolute;
    text-transform: uppercase;
}

.main-logo span:first-child { 
    color: pink;
    top: 0;
    left: 200px;

}

.main-logo span:last-child {
    color: yellow;
    bottom: 0;
    right: 280px;

}
